body {
  margin: 0;
  padding: 0;
}


button {
  position: absolute;
  font-size: 80px;
}

.close-map-bar{
  /* position: absolute;
  right:-3px;
  width: 300px; */
  z-index:1;
  background-color: lightgreen;
  border-color:black;
  border-style: solid;
  cursor: pointer; 
}

/* .map-div{
  position: relative;
  height: 400px; /* specify a fixed height for the container 
} 

/* .map-div-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
} */

.close-map-bar2{
  position: absolute;
  width: 800px;
  padding-top: 6px;
  padding-bottom:6px;
  z-index:1;
  background-color: lightgreen;
  border-color:black;
  border-style: solid;
  cursor: pointer; 
  display:none;
  bottom: -800px;
}
.button-and-image .button{
  z-index: 1;
}
.close-map-bar-text{
  padding-left: 10px;
}

.button-and-image {
  position: relative;
}
.airportPicture{
  width: 100%;
  height: 100vh;
  position: absolute;
}
.custom-map-container{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
}

.mapComponent {
  height: 100%;
  position: relative;
}
.mapComponent2 {
  position: absolute;
  display:none;
}

.feedback-form1{
  position:absolute;
  height: 14px;
  bottom:0;
  left:0;
  background-color:green;
  border-style:solid;
  border-color:black;
  padding:2px;
  color: white;
}

a { color: white; }
@media only screen and (max-width: 530px) {
  html, body, #root, #root>div, .app-header,.app-header>div,.app-header>div>div, .app-header>div>div>.button-and-image{
    height: 100% !important;
  }
  .airportPicture{
    height: 50% !important;
  }
  .custom-map-container{
    width: 100% !important;
    height: 50% !important;
    bottom: 20px !important;
  }
  .button-and-image .button{
    font-size:30px !important;
  }
}

@media only screen and (max-width: 1000px) {
 


  .test{
    background-color: blue;
  }


}