body {
  margin: 0;
  padding: 0;
}



button {
  position: absolute;
  font-size: 80px;
}

.close-map-bar{
  position: absolute;
  right:-3px;
  width: 300px;
  z-index:1;
  background-color: lightgreen;
  border-color:black;
  border-style: solid;
  cursor: pointer; 
}

.close-map-bar2{
  position: absolute;
  width: 800px;
  z-index:1;
  background-color: lightgreen;
  border-color:black;
  border-style: solid;
  cursor: pointer; 
  display:none;
}

.close-map-bar-text{
  padding-left: 10px;
}

.button-and-image {
  position: relative;
}

.airportPicture{
  max-width:2000px;
}

.mapComponent {
  position: absolute;
  right: 300px;
  /* display:none; */
}
.mapComponent2 {
  position: absolute;
  display:none;
}

.feedback-form1{
  position:sticky;
  bottom:0;
  left:0;
  background-color:green;
  border-style:solid;
  border-color:black;
  padding:2px;
  color: white;
}

a { color: white; }


@media only screen and (max-width: 1000px) {
 
  .mapComponent {
    display:none;
  }

  .close-map-bar{
    display:none;
  }
  
  .mapComponent2 {
    /* position: sticky;  */
    display: block;
  }
  .close-map-bar2{
    display:block;
  }


  .feedback-form1{
  position:absolute;
  }


  .test{
    background-color: blue;
  }


}