body {
  margin: 0;
  padding: 0;
}



button {
  position: absolute;
  font-size: 80px;
}



.button-and-image {
  position: relative;
}



.mapComponent {
  position: absolute;
  right: 250px;
  /* display:none; */
}
.mapComponent2 {
  position: absolute;
  display:none;
}


@media only screen and (max-width: 1000px) {
 
  .mapComponent {
    display:none;
  }
  
  .mapComponent2 {
    /* position: relative; */
    display: block;

  }

  .test{
    background-color: blue;
  }


}